<button class="btn btn-success btn-round" (click)="button()"> Find Route </button>

<div *ngIf="destinations">
  <app-map [destinations]=destinations></app-map>

  Destinations:
  <p-table [value]="destinations">
    <ng-template pTemplate="header">
      <tr>
        <th>Index</th>
        <th>Doctor</th>
        <th>Address</th>
        <th>Arrival Time</th>
        <th>Duration</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-destination>
      <tr>
        <td>{{destination.index}}</td>
        <td>{{destination.doctorName}}</td>
        <td>{{destination.address}}</td>
        <td>{{destination.arrivalTime | slice:0:-3}}</td>
        <td>{{destination.duration | slice:0:-3}}</td>
      </tr>
    </ng-template>
  </p-table>

  Doctors not visited:
  <ul>
    <li *ngFor="let destination of destinationsNotVisited">{{ destination.doctorName }}</li>
  </ul>

</div>
