<div class="row">
  <div class="update ml-auto mr-auto">
    <button class="btn btn-success btn-round" (click)="button()">
      Find Route
    </button>
  </div>
</div>

<div *ngIf="destinations">
  <h2>Route representation</h2>
  <app-map [destinations]="destinations" [encodedPolyline]="encodedPolyline">
  </app-map>

  <div>
    <h2>Route Timeline</h2>

    <div class="row">
      <div class="ml-auto mr-auto">
        <p-timeline [value]="destinations" align="alternate">
          <ng-template pTemplate="content" let-destination>
            <div class="card">
              <h5 class="card-header">
                {{
                  destination.doctorName
                    ? destination.doctorName
                    : destination.arrivalTime === "00:00:00"
                    ? "Start"
                    : "End"
                }}
              </h5>
              <div class="card-body">
                <div>
                  <span>
                    {{
                      destination.arrivalTime === "00:00:00"
                        ? ""
                        : (destination.arrivalTime | slice: 0:-3)
                    }}
                    {{
                      destination.arrivalTime === "00:00:00" ||
                      destination.endTime === "00:00:00"
                        ? ""
                        : "-"
                    }}
                    {{
                      destination.endTime === "00:00:00"
                        ? ""
                        : (destination.endTime | slice: 0:-3)
                    }}
                  </span>
                </div>
                <div>{{ destination.address }}</div>
              </div>
            </div>
          </ng-template>
        </p-timeline>
      </div>
    </div>
  </div>

  <h2>Appointment not scheduled</h2>
  <ul>
    <li *ngFor="let destination of destinationsNotVisited">
      {{ destination.doctorName }}
    </li>
  </ul>
</div>
