<div class="card card-user">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5 class="card-title">{{isEdit? 'Edit Establishment': 'New Establishment'}}</h5>
      </div>
      <div *ngIf="isEdit" class="col">
        <button type="submit" class="btn btn-danger btn-round float-right" (click)='onDelete()'>Delete
          Establishment</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Name</label>
            <input required id="name" class="form-control" formControlName="name">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Name is required.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p>Search for the address : </p>
          <p-autoComplete [suggestions]="results" (completeMethod)="search($event)" (onSelect)="fillInputs($event)">
          </p-autoComplete>
        </div>
      </div>

      <div class="row" *ngIf="isFilled">
        <div class="col-md-4">
          <div class="form-group">
            <label>Department</label>
            <input readonly required name="department" class="form-control" formControlName="department">

            <div *ngIf="department.invalid && (department.dirty || department.touched)" class="alert alert-danger">
              <div *ngIf="department.errors.required">
                Department is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>City</label>
            <input readonly required name="city" class="form-control" formControlName="city">
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
              <div *ngIf="city.errors.required">
                City is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Address</label>
            <input readonly required name="city" class="form-control" formControlName="address">
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
              <div *ngIf="address.errors.required">
                Address is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="ml-auto mr-auto">
        <button type="submit" class="btn btn-success btn-round" [disabled]="form.invalid"
          (click)="onConfirmation()">{{isEdit? 'Update': 'Confirm'}}</button>
      </div>
    </div>
  </div>
</div>
