<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h5 class="card-title">{{title}}</h5>
          </div>
          <div class="col-md-3">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="nc-icon nc-zoom-split"></i>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive table-hover">
          <table class="table">
            <thead class="text-primary">
              <th *ngFor="let head of headElements">
                {{head}}
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let doctor of doctors" (click)="OpenDoctorPage(doctor.id)">
                <td>
                  {{doctor.name}}
                </td>
                <td>
                  {{doctor.surname}}
                </td>
                <td>
                  {{doctor.town}}
                </td>
                <td>
                  {{doctor.department}}
                </td>
                <td>
                  {{doctor.periodicity}} times per year
                </td>
                <td>
                  {{getLastVisit(doctor.nextVisitDate,doctor.periodicity) | date: 'dd/MM/yyyy' }}
                </td>
                <td>
                  {{doctor.nextVisitDate | date: 'dd/MM/yyyy'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
