<div class="row">
  <div class="col">
    <div class="card card-user">
      <div class="card-header">
        <div class="row justify-content-between">
          <div class="col">
            <h5 class="card-title">Edit Visit</h5>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-danger btn-round float-right">Delete Visit</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row justify-content-between">
            <div class="col-md-4">
              <div class="form-group">
                <label>Doctor</label>
                <input type="text" class="form-control" placeholder="Doctor" value="Chet">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Date date.now() ????</label>
                <input type="date" class="form-control" placeholder="City" value="Date.now()">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea
                  class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Visit</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
