<div class="card">
  <div class="card-header">
    <div class="row justify-content-between">
      <div class="col">
        <h5 class="card-title">{{title}}</h5>
      </div>

    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive table-hover">
      <table class="table">
        <thead class="text-primary">
          <th *ngFor="let head of headElements">
            {{head}}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let visit of visits" (click)="openEditVisitPage(visit.id)">
            <td>
              {{visit.doctorId }}
            </td>
            <td>
              {{visit.date | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{visit.note}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
