<div *ngIf="isLoggedin === true">
  <div class="form-group">
    <label>First Name</label>
    <input
      type="text"
      class="form-control"
      [value]="socialUser.firstName"
      id="firstname"
      readonly
    />
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input
      type="text"
      class="form-control"
      [value]="socialUser.lastName"
      id="lastname"
      readonly
    />
  </div>
  <div class="form-group">
    <label>Email</label>
    <input
      type="text"
      class="form-control"
      [value]="socialUser.email"
      id="email"
      readonly
    />
  </div>
  <button type="button" (click)="logOut()" class="btn btn-primary">
    Log Out
  </button>
</div>

<div
  id="g_id_onload"
  data-client_id="749702318640-t4r0jl37o23nclk8n7kojhcgcd4juh56.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="http://localhost:4200/#/dashboard"
  data-auto_select="true"
  data-itp_support="true"
></div>

<div
  class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left"
></div>
