<div *ngIf="visits$ | async as visits">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col">
              <h5 class="card-title">Visits</h5>
            </div>
            <div class="col">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-success btn-round float-right">Add Visit</button>
            </div>

          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive table-hover">
            <table class="table">
              <thead class="text-primary">
                <th *ngFor="let head of headElements">
                  {{head}}
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let visit of visits">
                  <td>
                    {{visit.doctorId }}
                  </td>
                  <td>
                    {{visit.date | date}}
                  </td>
                  <td>
                    {{visit.note}}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
