<div *ngIf="doctorsVisitPlannedForActualMonth as doctors">
  <app-table-doctor
    *ngIf="doctors != 0"
    [title]="'Active appointments'"
    [doctors]="doctors"
  >
  </app-table-doctor>
</div>
<div *ngIf="doctorsVisitPlannedBeforeActualMonth as doctors">
  <app-table-doctor
    *ngIf="doctors != 0"
    [title]="'Missed appointments'"
    [doctors]="doctors"
  >
  </app-table-doctor>
</div>
<div *ngIf="doctorsProspect as doctors">
  <app-table-doctor
    *ngIf="doctors.length != 0"
    [title]="'Prospects'"
    [doctors]="doctors"
  >
  </app-table-doctor>
</div>

<h3 class="text-muted" *ngIf="noDoctors">No doctors to display</h3>

<app-find-route *ngIf="!noDoctors"></app-find-route>
