<div *ngIf="doctorsActualMonth$ | async as doctors">
  <app-table-doctor *ngIf="doctors != 0" [title]="'Doctors to visit this month'" [doctors]="doctors">
  </app-table-doctor>
</div>
<div *ngIf="doctorsBeforeActualMonth$ | async as doctors">
  <app-table-doctor *ngIf="doctors != 0" [title]="'Doctors late'" [doctors]="doctors">
  </app-table-doctor>
</div>
<div *ngIf="doctorsProspect$ | async as doctors">
  <app-table-doctor *ngIf="doctors.length != 0" [title]="'Prospects'" [doctors]="doctors">
  </app-table-doctor>
</div>
