  <div class="row">
    <div class="col">
      <div class="card card-user">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col">
              <h5 class="card-title">Edit Visit</h5>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-danger btn-round float-right">Delete Visit</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row justify-content-between">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Doctor</label>
                  <!-- a taffer value="{{visit.doctorId}}" -->
                  <select class="form-control">
                    <option value="" disabled selected>Select the doctor</option>
                    <option *ngFor="let doctor of doctors$ | async" value="{{doctor.id}}">{{doctor.name}}
                      {{doctor.surname}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Date date.now() ????</label>
                  <input type="date" class="form-control" value="{{visit.date}}">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea class="form-control textarea"
                    placeholder="Write something here ...">{{visit.note}}</textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Update Visit</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
